.query-form {
  @apply flex flex-wrap bg-white pt-1.5 pl-2 mb-2;

  .el-form-item {
    @apply mb-1.5;
  }
}

.query-form-item {
  @apply w-full md:w-2/4 lg:w-1/3 xl:w-1/4 box-border pl-2 pr-2;
}

.query-form-item-2 {
  @apply w-full lg:w-2/4 xl:w-1/3 box-border pl-2 pr-2;
}

.query-btn-container {
  @apply w-full md:w-auto justify-end md:justify-normal flex items-end md:items-baseline mb-1.5 pr-2;
}

.btn-bar {
  @apply flex justify-end bg-white px-2 py-1;
}

.dialog-form {
  @apply flex flex-wrap;
}

.dialog-form-item {
  @apply w-full md:w-2/4 box-border pl-2 pr-2;
}

.dialog-form-item-full {
  @apply w-full box-border pl-2 pr-2;
}

.table-container {
  @apply hidden md:flex w-full overflow-auto flex-col;
}

.pagination-container {
  @apply p-2 bg-white;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 8px;
  box-sizing: border-box;
  flex: 1;
  overflow: auto;
}

// @media screen and (min-width: 1280px) {
//     .page-container {
//         height: calc(100vh - 86px);
//     }
// }
