// // styles/element/index.scss
// /* 只需要重写你需要的即可 */
// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': #673ab7,
//     ),
//   ),
// );

:root {
  --soon-color-primary: #8c57ff;
  --soon-menu-hover-bg-color: #ece8f7;
  --soon-menu-hover-text-color: var(--soon-color-primary);
}

@components {
  .soon-bg {
    background-color: (--soon-menu-hover-bg-color);
  }
}

:root body {
  --el-color-primary-rgb: 126, 78, 229;

  --el-color-primary: var(--soon-color-primary);
  --el-color-primary-light-3: #7d5cb8;
  --el-color-primary-light-5: #876eb3;
  --el-color-primary-light-7: rgb(190, 174, 219);
  --el-color-primary-light-8: rgb(216, 204, 240);
  --el-color-primary-light-9: var(--soon-menu-hover-bg-color);
  --el-color-primary-dark-2: #5220a8;

  --el-menu-active-color: var(--soon-color-primary);
  --el-menu-hover-text-color: var(--soon-color-primary);
  --el-menu-hover-bg-color: var(--soon-menu-hover-bg-color);
}

#nprogress .bar {
  background: var(--soon-color-primary);
}

#nprogress .spinner-icon {
  border-top-color: var(--soon-color-primary);
  border-left-color: var(--soon-color-primary);
}
